*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sidebar{
    z-index:99;
}

.contents{
    width: 70%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 30%;
    padding: 2%;
    z-index: 0;
    color: #0b4242;
}

.inputPassword {
    vertical-align: middle;
    /* background-color:red; */
    width: 25ch;
    white-space: nowrap;
}

.eye-icon {
    width: 20px; /* アイコンの幅を設定 */
    height: 20px; /* アイコンの高さを設定 */
    cursor: pointer; /* アイコンをクリック可能にする */
    vertical-align: middle;
}

table{
    border-collapse: collapse;
    margin: 10px;
    white-space: nowrap;
}

tr, td{
    border: 2px solid #0b4242;
    padding: 10px;
}

label{
    padding: 10px;
}

.caution{
    border: 1px solid #0b4242;
    padding: 20px;
    border-radius: 20px;
    width: 60vw;
}

#btn{
    position: relative;
    border: none;
    width: 20vw;
    height: 40px;
    padding: 10px 20px;
    top: 2vh;
    left: 40vw;
    line-height: 20px;
    font-size: 1.1em;
    border-radius: 15px;
    background-color: #3da6a6 ;
    color: #cef2ef;
}

#btn:hover{
    outline: 3px solid #3da6a6;
    /* border: 1px solid #d3e4e5; */
    background-color: #bddbd8;
    color: #3da6a6;
}

#btn{
    position: relative;
    border: none;
    width: 20vw;
    height: 40px;
    padding: 10px 20px;
    top: 2vh;
    left: 40vw;
    line-height: 20px;
    font-size: 1.1em;
    border-radius: 15px;
    background-color: #3da6a6 ;
    color: #cef2ef;
}

#btn:hover{
    outline: 3px solid #3da6a6;
    /* border: 1px solid #d3e4e5; */
    background-color: #bddbd8;
    color: #3da6a6;
}