*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sidebar{
    z-index:99;
}

.contents{
    width: 70%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 30%;
    padding: 2%;
    z-index: 0;
    background-color: #f7ffff;
    color: #0b4242;
}

h1{
    position: sticky;
    top: 0;
    margin-bottom: 15px;
}

.input{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 10px;
    width: 40%;
}

input:not([type="radio"]):not([type="submit"]) , select{
    background: #f4f5fa;
    border: 1px solid #c0c4da; 
    height: 30px;
    border-radius: 5px;
}

input{
    padding: 10px;
}

#position{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn{
    position: relative;
    border-radius: 10px;
    width:100px;
    height: 40px;
    margin-top: 5vh;
    left: 40vw;
    background-color: #3da6a6 ;
    color: #cef2ef;
    border: 1px solid #c0c4da;
}

.btn:hover{
    outline: 3px solid #3da6a6;
    /* border: 1px solid #d3e4e5; */
    background-color: #bddbd8;
    color: #3da6a6;
}