*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #0b4242;
}

.sidebar{
    z-index:99;
}

.contents{
    width: 70%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 30%;
    padding: 2%;
    z-index: 0;
    background-color: #f7ffff;
}

h2{
    position: sticky;
    top: 0;
    margin-bottom: 15px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#name, #email, #hireDate{
    height: 30px;
    background: #f4f5fa;
    border: 1px solid #c0c4da; 
    margin-bottom: 15px;
}

#position{
    flex-direction: row;
    margin-bottom: 15px;
    gap: 20px;
}

.agreements{
    margin-bottom: 15px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#addEmployee{
    border: none;
    border-radius: 10px;
    width:100px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #3da6a6 ;
    color: #cef2ef;
}

#registerBtn{
    border: none;
    border-radius: 10px;
    width:100px;
    height: 40px;
    padding-left: 10px;
    background-color: #3da6a6 ;
    color: #cef2ef;
}

.addBtn, .registerBtn{
    position: relative;
}

.btn span{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 15px;
    color: #cef2ef;
}

#addEmployee:hover, #registerBtn:hover{
    outline: 3px solid #3da6a6;
    /* border: 1px solid #d3e4e5; */
    background-color: #bddbd8;
    color: #3da6a6;
}

#registerBtn:disabled{
    color: #638383;
    background-color: #dcdee8;
}

