@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif JP', sans-serif;
}

.contents{
    overflow: hidden;
}

.login_pic{
    position: relative;
    width: 70vw;
    height: 100vh;
    left: 30vw;
    z-index: 1;
}

.back{
    position: relative;
    width: 30vw;
    height: 101vh;
    top: -101vh;
    background-color: #3da6a6;
    z-index: 5;
}

.main{
    position: relative;
    width: 50vw;
    height: 90vh;
    top: -196vh;
    left: 5vw;
    background-color: #cef2ef;
    filter: drop-shadow(0 0 20px #006d7b);
    z-index: 99;
}

h2{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 2.5em;
    color: #3da6a6;
}

.inputArea{
    position: absolute;
    top: 35%;
    left: 30%;
}

.employeeCD_icon{
    position: absolute;
    font-size: 1.5em;
    color: #3da6a6;
}

.employeeCDBox{
    position: absolute;
    border: none;
    padding-left: 30px;
    font-size: 1.5em;
    border-bottom: 2px solid #3da6a6;
    background-color: #ffffff00;
    width:23vw;
    /* line-height: 20px; */
}

.pass_icon{
    position: absolute;
    top: 10vh;
    font-size: 1.5em;
    color: #3da6a6;
}

.passBox{
    position: absolute;
    border:none;
    top: 10vh;
    padding-left: 30px;
    font-size: 1.5em;
    border-bottom: 2px solid #3da6a6;
    background-color: #07d3d600;
    width:23vw;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 4px solid #3da6a6;
    border-radius: 10px;
}

button{
    position: absolute;
    border: none;
    width: 20vw;
    height: 40px;
    padding: 10px 20px;
    top: 25vh;
    left: 1vw;
    line-height: 20px;
    font-size: 1.1em;
    border-radius: 15px;
    background-color: #3da6a6 ;
    color: #cef2ef;
}

button:hover{
    outline: 3px solid #3da6a6;
    /* border: 1px solid #d3e4e5; */
    background-color: #bddbd8;
    color: #3da6a6;
}

.error{
    position: absolute;
    top: 70vh;
    left: 15vw;
    font-size: 1.1em;
}