*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    color: #0b4242;
}

.sidebar{
    z-index:99;
}

.contents{
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 30%;
    padding: 2%;
    z-index: 0;
    background-color: #f7ffff;
}

.btn-monthMove{
    cursor: default;
}

.recordTable {
    border: 2px solid;
    border-collapse: collapse;
    background-color: #fff;
}

.tableHead{
    /* background-color: #ddd; */
    border: 1px solid #000;
    width: 0;
    white-space: nowrap;
    border: 1px solid grey;
    text-align: center;
    padding: 2px;
    background-color: #d3dddd;
}

.item1{
    white-space: nowrap;
    background-color: #d3dddd;
    text-align: center;
    border: 1px solid #80808057;
    padding: 2px;
}

.item2{
    width: 0;
    white-space: nowrap;
    border: 1px solid #80808057;
    padding: 2px;
}

.total_table {
    border: 2px solid;
    border-collapse: collapse;
    margin-top: 2%;
    background-color: #fff;
}

h1{
    background-color: #f7ffff;
    position: sticky;
    top: 0;
}